@font-face {
    font-family: "Mori";
    src: url(../src/assets/fonts/PPMori-SemiBold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mori";
    src: url(../src/assets/fonts/PPMori-SemiBoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

:root {
    --lightOrange: #ffc7c8;
    --black: #000508;
    --white: #ffffff;
    --mori: "Mori";
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--lightOrange);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(47, 47, 47);
}

::-webkit-scrollbar-track {
    background-color: var(--lightOrange);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: var(--lightOrange);
    font-size: 118%;
    color: var(--black);
}

body {
    width: min(1500px, 90%);
    margin-inline: auto;
    font-size: 1rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    font-size: inherit;
}
